*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 40rem;
    gap: 5rem;
}

.container{
    width: 20rem;    
}

.tab{
    font-size: 1rem;
    padding: 1rem;
    background: transparent;
    border: none;
    cursor: pointer;
}

.tab:hover{
    background-color: rgb(238, 228, 238);
}

button:focus {
    background-color: rgb(238, 228, 238);
    border-bottom: 2px solid purple;
    color: purple;
}

.container-scroll{
    overflow: scroll;
    display: flex;
    align-items: center;
    width: 20rem;
}