*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem;
    background-color: grey;
}

.container{
    border-radius: 10px;
    padding: 1rem;
    width: 15rem;
    background-color: white;
}

.heading{
    margin-bottom: 1rem;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    margin-top: 10px;
}

.button{
    border: none;
    font-size: 16px;
}

.button-yes{
    color: red;
    background-color: white;
}

.button-yes:hover{
    font-weight: bold;
}

.button-no{
    color: green;
    background-color: white;
}

.button-no:hover{
    font-weight: bold;
}

.buttons-stacked{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 2rem;
}

.items{
    list-style: none;
}

.item{
    margin: 1rem;
    margin-left: auto;
}

.items-scroll{
    overflow: scroll;
    height: 10rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
}